html
  head
    title Sandboxed Download Tests
  body
    p This page contains a series of manual tests for sandboxed iframes and downloads inside them.
    p Testing has only been done on Chrome 65.0.3299.0 and later. Specify --enable-blink-features=BlockingDownloadsInSandbox at the command line.
    p
    
    table(id='testTable')
      thead
        tr
          th description
          th downloads
          th run test
      tbody
        each dlTest, index in dlTests
          tr
            td #{dlTest.desc}
            td #{dlTest.expectdl}
            td
              button(
                type='button'
                class='testButton'
                id='but'+index
                destUrl=dlTest.url
              )
    for dlTest, index in dlTests
      if dlTest.sandbox
        if dlTest.allowdl
          iframe(id='if'+index, sandbox="allow-scripts allow-downloads" width=0 height=0)
        else
          iframe(id='if'+index, sandbox="allow-scripts" width=0 height=0)
      else
        iframe(id='if'+index width=0 height=0)
    script(src='static/dltest.js')

